<div class="main-container">
    <div class="column-1 col-12 col-sm-12 col-md-12 col-lg-7">
        <p class="topic-1">About Us</p>
        <div class="description">
        <p class="paragraph">Nestled in the heart of Sri Lanka’s hill country, Mirrador Cottage offers a serene escape surrounded by breathtaking views. Perfect for couples, families, solo travelers, or romantic getaways, we combine cozy comfort with the charm of unique Sri Lankan hospitality. Whether you’re here to relax, explore, or create unforgettable memories, Mirrador Cottage promises an experience like no other.
        </p>
    </div>
    <div class="button-container">
       <button class="button-1">Book now</button>
    </div>
    </div>

    <div class="column-2">
    </div>

    <div class="column-3 col-12 col-sm-12 col-md-12 col-lg-5">
    </div>
</div>