<div class="main-container">
    <div class="column-1 col-12 col-sm-4 col-md-4 col-lg-7">
        <p class="topic-1">hfshfhfhbhsfv gggges fgrg</p>
        <div class="description">
        <p class="paragraph">hfshfhfhbhsfvggrgrgrgrhgrhrherherhreh
            ggwgwGwEGwegWEFGEGEGwfgEGwgewGEWghfshfhfhbhsfvggrgeh
            ggwgwGwEGwegWEFGEGEGwfgEGwgewGEWghfshherherhreh
            ggwgwGwEGwegWEFGEGEGwfgEGwgewGEWghfshfhfhbhsfvgghreh
            ggwgwGwEGwegWEFGEG
            EGwfgEGwgewGEWg
        </p>
    </div>
       <button class="button-1">booknow</button>
    </div>

    <div class="column-2">
    </div>

    <div class="column-3 col-12 col-sm-4 col-md-4 col-lg-5">
    </div>
</div>