<div class="main-container">
    <div class="column-1 col-12 col-sm-12 col-md-12 col-lg-7">
        <p class="topic-1">About Us</p>
        <div class="description">
        <p class="paragraph">Reserve Your Ideal Holiday Today: Escape to the tranquility of our charming cottage, nestled in the heart of nature. Perfect for families, couples, or solo adventurers, our cottage offers the ultimate getaway with cozy interiors, modern amenities, and breathtaking surroundings. Book now to secure your dream vacation!
        </p>
    </div>
    <div class="button-container">
       <button class="button-1">Book now</button>
    </div>
    </div>

    <div class="column-2">
    </div>

    <div class="column-3 col-12 col-sm-12 col-md-12 col-lg-5">
    </div>
</div>