<div class="container-fluid">
    <div class="row">
        <div class="column-1 col-12 col-sm-12 col-md-7 col-lg-7">
        </div>

        <div class="column-2 col-12 col-sm-12 col-md-5 col-lg-5">
            <div class="form-container">
                <h1>Contact Us</h1>
                <form>
                    <label for="name">Full Name</label>
                    <input type="text" id="name" placeholder="james arther clerk" />
            
                    <label for="phone">E-mail Address</label>
                    <input type="tel" id="phone" placeholder="example@gmail.com" />
            
                    <label for="message">Inquiry Details</label>
                    <textarea id="message" placeholder="provide your needs"></textarea>
            
                    <button type="submit">Send</button>
                </form>
            </div>
            
        </div>
    </div>
</div>