.column-1{
    height:100vh;

    background: 
    linear-gradient(rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.952)), 
    url("../../assets/images/door2.jpeg");    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.column-2{
    height: 100vh;

    background: 
    linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.8)), 
    url("../../assets/images/out1.jpeg");    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

}

// ------------------------------form------------------------
/* General reset */


body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Dark background */
    color: #fff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Form container */
.form-container {
    text-align: center;
    padding: 10%;
    width:90%;
    height: fit-content;
    // background-color: rgb(48, 68, 68);
   
}

.form-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    font-family: serif;
    font-weight: 100;

}

.form-container p {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8); /* Slightly dimmed text */
    font-family:Arial, Helvetica, sans-serif;
}

/* Form elements */
form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form label {
    text-align: left;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7); /* Dimmed label text */
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: none; /* Transparent background */
    border: 1px solid #fff; /* White border */
    color: #fff;
    outline: none;
}

form input::placeholder,
form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Dimmed placeholder text */
}

form textarea {
    height: 80px;
    resize: none; /* Prevent resizing */
}

/* Button */
form button {
    padding: 10px;
    font-size: 16px;
    font-weight:600;
    color: #fff;
    background: none; /* Transparent button */
    border: 1px solid #fff; /* White border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #fff; /* White background */
    color: #000; /* Dark text */
}



// for mobile
@media only screen and (max-width:767px)
{
   .column-1{
    height:130vh;
    z-index: 0;
    position: relative;
   }

   .column-2{
    z-index: 1;
    margin-top: 30vh;
    height:100vh;
    position: absolute;

    background: 
    linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.8)), 
   }
}

// for tablets
@media only screen and (min-width:768px) and (max-width:991px)
{
    
}

// for laptops/desktops
@media only screen and (min-width:992px) 
{
    
}
 

// -=-----------------------------------------------------