<div class="main-container">
    <div class="column-1 col-7 col-sm-7 col-md-7 col-lg-5">
        <div class="text-container">
            <p class="topic-1">Mirador</p>
            <p class="topic-2">Cottage</p>  
            <p class="topic-3">"Experience the serenity of mountain life and the beauty of nature all around—your dream holiday starts here at our cozy cottage."</p> 
        </div>  
           
    </div>

    <div class="column-2 col-5 col-sm-5 col-md-5 col-lg-7">

    </div>
</div>