<div class="topic-container">
    <p class="topic-1">Gallery</p>
    <p class="topic-2">Step into comfort and charm with our A-frame cottages, offering cozy bedrooms and breathtaking views. Wake up to serene landscapes and unwind in a unique setting, <br>providing every traveler with an unforgettable experience. Explore the beauty and tranquility!
    </p>
</div>

<div class="main-container">

    <div class="column-1 col-12 col-sm-12 col-md-12 col-lg-3">
    </div>

    <div class="column-2 col-12 col-sm-12 col-md-12 col-lg-3">
    </div>

    <div class="column-3 col-12 col-sm-12 col-md-12 col-lg-3">
    </div>

    <div class="column-4 col-12 col-sm-12 col-md-12 col-lg-3">
    </div>
</div>